<div class="basic-container">
    <mat-card class="header-sec">
        <mat-card-content class="header-content">
            <h2 *ngIf="!selectedscreen">Invoices Pending For Approval</h2>
            <h2 *ngIf="selectedscreen">Invoices For Correction</h2>
        </mat-card-content>
    </mat-card>
    <br />
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of columns;index as i ">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element">
                <input *ngIf="selectedscreen" type="text" name="description" [(ngModel)]="element[column]"
                    [value]="element[column]">
                <div *ngIf="!selectedscreen">{{element[column]}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="modification">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation();">
                <mat-icon class="approve" (click)="openDialog(element, true)">check_circle</mat-icon>
                <mat-icon class="reject" (click)="openDialog(element, false)">cancel</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
    </table>
    <br />
    <div *ngIf="selectedRowImg> -1" class="invoice-img">
        <mat-card class="invoice header-sec">
            <mat-card-content class="header-content">
                <h2>Related Invoice</h2>
            </mat-card-content>
        </mat-card>
        <br />
        <img src="/assets/images/Penn_Invoice_{{selectedRowImg}}.png" alt="image">
    </div>
</div>

<!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->