.confirmation-dialog{
    .actions{
        float: right;
        button, button:hover{
            color: #3f51b5;
            background-color: #dae2f9;
            border-radius: 20px;
        }
    }
}